/* Page style initialization */

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font-family: arial, sans-serif;
    font-size: 14px;
}

/* Global */

#wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
}

a {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

/* Content */

#searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Footer */

footer {
    width: 100%;

    background: #f2f2f2;
    color: #70757a;
}

footer a {
    color: inherit;
}

#country {
    font-size: 15px;
    padding: 15px 30px;

    border-bottom: 1px solid #dadce0;
}

#googleInfos {
    display: flex;
    justify-content: space-between;

    padding: 0 15px;
}

.googleInfosSections {
    display: flex;
    justify-content: flex-start;
}

.googleInfosSections a {
    padding: 15px;
}

#leafImage {
    height: 14px;
    margin-right: 2px;
}

#leafText {
    vertical-align: top;
}
